<%# app/views/quotes/index.html.erb %>
<main class="container">
    <div class="header">
      <h1>Quotes</h1>
      <%= link_to "New quote", 
                new_quote_path,
                data: { turbo_frame: dom_id(Quote.new) }, 
                class: "btn btn--primary" %>
    </div>

    <%# new quote frame with id="new_quote" %>
    <%= turbo_frame_tag Quote.new %>

    <%# list of existing quotes turbo frame with id="quotes" %>
    <%= turbo_frame_tag "quotes" do %>
      <%= render @quotes %>
    <% end %>
</main>